* {
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
}
.Link img {
  width: 100%;
}
.Link {
  position: fixed;
  width: 100px;
  float: right;
  padding-left: 20px;
}
.link {
  text-align: center;
  background-color: bisque;
}
header {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 157, 37);
  flex-direction: row-reverse;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: large;
  flex-wrap: wrap;
}
.menu {
  flex-basis: 10%;
  text-align: center;
  background-color: rgb(238, 157, 37);
}
header :hover {
  color: rgb(233, 14, 14);
}
.link:hover {
  color: rgb(233, 14, 14);
  background-color: rgb(238, 157, 37);
}
@media (max-width: 650px) {
  header {
    flex-direction: row-reverse;
  }
  .menu {
    flex-basis: 25%;
  }
  .General {
    flex-direction: column;
  }
  .main {
    flex-basis: 75%;
  }
  aside {
    padding-right: 5%;
  }
}
.General {
  display: flex;
}
.main {
  flex-basis: 55%;
  text-align: center;
  float: left;
  padding-left: 5%;
}
.Main_image img {
  width: 100%;
}

aside {
  flex-basis: 30%;
  background-color: antiquewhite;
  padding-bottom: 5%;
}
.header_side {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
}
.paragraph_side {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10%;
}
@media (max-width: 650px) {
  header {
    flex-direction: row-reverse;
  }
  .menu {
    flex-basis: 25%;
  }
  .General {
    flex-direction: column;
  }
  .main {
    flex-basis: 75%;
    padding-right: 5%;
  }
}

.MainGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: antiquewhite;
  padding-left: 10%;
}
.MainGalleryTittle {
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
  color: brown;
  float: left;
}
.MainGalleryPic {
  flex-basis: 30%;
}
.MainGalleryPic img {
  width: 100%;
}
.MainGalleryPicTitle {
  text-align: center;
  margin-bottom: 5%;
}
@media (max-width: 550px) {
  .MainGallery {
    padding-left: 10%;
    flex-direction: column;
    padding-right: 10%;
  }
  .MainGalleryPic {
    flex-basis: 100%;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 40px;
  height: 50px;
  margin-top: 40px;
  background-color: rgb(238, 157, 37);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  /* justify-content: center; */
  width: 100%;
}
.foot {
  font-size: 15px;
  font-weight: 600;
  flex-basis: 18%;
  text-align: center;
  padding-left: 10px;
}

.pic_main img {
  width: 100%;
}
.LinkToAbout {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
a.LinkToAbout:hover {
  color: rgb(233, 14, 14);
  background-color: rgb(238, 157, 37);
}

.about_Main {
  width: 60%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.about {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  float: left;
  padding-top: 40px;
  background-image: url(pic/bazek.jpg);
  background-size: cover;
}

.contcat_form {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.Text {
  text-align: center;
  flex-basis: 30%;
  padding-top: 100px;
}
.form {
  text-align: right;
  font-size: 20px;
  flex-basis: 30%;
}
.send {
  width: 70px;
  height: 40px;
  flex-basis: 30%;
  background-color: rgb(238, 157, 37);
  font-weight: 500;
  font-size: 18px;
  border-radius: 25%;
}
.send:hover {
  background-color: aqua;
  color: red;
}
.ProductsGallery {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
}
.ProductsGalleryTittle {
  color: rgb(204, 39, 94);
  text-align: center;
  width: 100%;
  font-size: x-large;
}
.ProductsGalleryPic {
  flex-basis: 32%;
  margin-left: 1%;
  margin-top: 2%;
}
.ProductsGalleryPic img {
  width: 100%;
}
.ProductsGalleryPicTitle {
  text-align: center;
}
@media (max-width: 550px) {
  .ProductGallery {
    flex-direction: column;
  }
  .ProductsGalleryPic {
    flex-basis: 100%;
  }
}
