* {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}
.Link img {
  width: 100%;
}
.Link {
  position: fixed;
  width: 100px;
  float: right;
  padding-left: 20px;
}
.link {
  text-align: center;
  background-color: bisque;
}
header {
  height: 100px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: large;
  background-color: rgb(238, 157, 37);
  line-height: 100px;
  margin-bottom: 50px;
}
a.Menu {
  background-color: rgb(238, 157, 37);
}
header :hover {
  color: rgb(233, 14, 14);
}
.link:hover {
  color: rgb(233, 14, 14);
  background-color: rgb(238, 157, 37);
}

.main {
  width: 55%;
  text-align: center;
  float: left;
  padding-left: 5%;
}
.Main_image img {
  width: 100%;
}
aside {
  width: 30%;
  padding-right: 5%;
  background-color: antiquewhite;
  float: left;
  padding-bottom: 5%;
}
.header_side {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
}
.paragraph_side {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10%;
}
.MainGallery {
  float: left;
  width: 98%;
  float: left;
  margin: 1%;
  background-color: antiquewhite;
}
.MainGalleryTittle {
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
  color: brown;
  float: left;
}
.MainGalleryPic {
  width: 32%;
  float: left;
  margin-left: 1%;
}
.MainGalleryPic img {
  width: 100%;
}
.MainGalleryPicTitle {
  text-align: center;
  margin-top: 5%;
}
.main_img img {
  width: 32%;
  height: 300px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
footer {
  padding-top: 40px;
  float: left;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 40px;
  background-color: rgb(238, 157, 37);
  border: 1px solid black;
}
.Name {
  float: right;
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  background-color: rgb(238, 157, 37);
}
.tel {
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  float: right;
  background-color: rgb(238, 157, 37);
}
.doar {
  width: 30%;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  background-color: rgb(238, 157, 37);
}

.pic_main img {
  width: 100%;
}
.LinkToAbout {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
a.LinkToAbout:hover {
  color: rgb(233, 14, 14);
  background-color: rgb(238, 157, 37);
}

.about_Main {
  width: 60%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.about {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  float: left;
  padding-top: 40px;
  background-image: url(pic/bazek.jpg);
  background-size: cover;
}
.contact {
   width: 80%;
  margin-left: 10%; */
  padding-top: 40px;
  text-align: center;
  float: left;
}
.Text {
  width: 40%;
  height: 100px;
  text-align: center;
  float: right;
  padding-right: 200px;
  padding-top: 100px;
}
.form {
  width: 30%;
  float: right;
  text-align: right;
  font-size: 20px;
}
.send{
  width: 70px;
  height: 40px;
  background-color: rgb(238, 157, 37);
  font-weight: 500;
  font-size: 18px;
  border-radius: 25%;

}
.send:hover{
  background-color: aqua;
  color: red;
 
}
.ProductsGallery {
  width: 100%;
  float: left;
  background-color: antiquewhite;
}
.ProductsGalleryTittle {
  color: rgb(204, 39, 94);
  text-align: center;
  width: 100%;
  font-size: x-large;
}
.ProductsGalleryPic {
  width: 32%;
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
.ProductsGalleryPic img {
  width: 100%;
}
.ProductsGalleryPicTitle {
  text-align: center;
  /* margin-top: 5%; */
}
